* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
html, body {
    position: relative;
    clear: both;
    min-height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }

#app{
    padding-bottom: 100px;
    padding-top: 20px;
}
body::-webkit-scrollbar {
        display: none;
      }
h1, h2,h3,h4,h5,h6,p {
        margin-bottom: 16px;
    }
    @font-face {
        font-family: Gill;
        src: url(fonts/GillSans/GillSans.ttf);
    }
    
    @font-face {
        font-family: Prox;
        src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
    }