$site-purple: #540D6E;
$site-pink: #EE4367;
$site-yellow:#FFD140; 
$yellow-overlay: rgba(255, 209, 64,.75);
$site-lightBlue: #3BCEAB;
$site-green:#08AD69 ;
$site-black: rgb(0,0,0);
$site-white: rgb(255,255,255);