nav{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: $nav-background-color;
    z-index: 2;
    left: calc(50% - 700px);

    .logo{
        margin-top: 150px;
        width: 100%;
        height: 215px;
        // background-color: #aaa;
        img{
            display: block;
            margin: auto;
            width: 85%;
        }
    }
    hr{
        width: 165px;
        margin: auto;
        height: 1px;
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 350px;
        font-size: 15px;
        a{ 
            color: $link-color;
            text-decoration: none;
            margin-left: 27px;
            font-weight: 700;
            transition: all .8s;
            .text-Decoration{
                text-transform: uppercase;
                font-style: italic;
            }
        }
        a:hover {
            color: #df3030;
        }
    }
}