.AboutInfo{
    clear: both;
    width: 100%;
    max-width: 900px;
    margin: 0 auto ;
    .aboutcontent{
        padding-top: 70px;
        .title{
            font-size: 60px;
            font-family: "Prox";
            text-decoration: none;
            margin-bottom: 0px;
            height: 65px;
            letter-spacing: 5px;
        }
        hr{
            width: 160px;
            height: 2px;
            background: $black;
            border: none;
        }
        .infotext{
            padding-top: 35px;
            font-size: 16px;
            font-family: "Gill";
        }
    }
    .clientquotes{
        margin-top: 95px;
        margin-bottom: 150px;
        .title{
            font-size: 40px;
            font-family: "Prox";
            text-decoration: none;
            margin-bottom: 0px;
            height: 50px;
            letter-spacing: 5px;
        }
        hr{
            width: 260px;
            height: 2px;
            background: $black;
            border: none;
        }
        .client1{
            margin-top: 35px;
            width: 720px;
            height: 150px;
            font-family: "Gill";
            .image{
                width: 260px;
                height: 150px;
                float: left;
                background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/about-client-01.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .text{
                position: relative;
                float: right;
                width: 440px;
                height: 150px;
                font-size: 16px;
                .person{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-family: "Prox";
                    font-size: 20px;
                    color: $site-blue;
                }
            }
            
        }
        .client2{
            margin-top: 35px;
            width: 720px;
            height: 150px;
            font-family: "Gill";
            .image{
                width: 260px;
                height: 150px;
                float: left;
                background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/about-client-02.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .text{
                position: relative;
                float: right;
                width: 440px;
                height: 150px;
                font-size: 16px;
                .person{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 20px;
                    font-family: "Prox";
                    color: $site-blue;
                }
            }
        }
    }
}
@media only screen and (max-width: 950px){
   .AboutInfo{
       width: 97%;
   }
}