.home {
    background-color:red;
    height:  100%;
    padding:  100px 20px 20px 20px;
    background-image: linear-gradient(to right, rgba(0,0,0, .5), rgba(0,0,0, .5)), url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}