footer{
    width: 100%;
    clear: both;
    min-height: 100px;
    margin: 0 auto;
    background-color: $site-blue;
    .footerHolder{
        width: 100%;
        max-width: 900px;
        margin: auto;
        display: flex;
     justify-content: space-between;
    }
    .footerLogo{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .copyright{
        h4{
            color: $white;
            font-size: 15px;
            font-family: "Gill";
            line-height: 100px;
            margin-bottom: 0px;
        }
    }
    .socials{
        color: $white;
        i{
            line-height: 100px;
            border-radius: 25px;
            font-size: 25px;
        }
        .fa-instagram-square{
            padding-left: 21px;
            padding-right: 21px;
        }
    }
}
.aboutfoot{
    position: absolute;
    bottom: 0;
    min-width: 750px;
}
@media only screen and (max-width: 950px){
    footer{
        .footerHolder{
            width: 97%;
        }
    }
}
@media only screen and (max-width: 750px){
    footer{
        .footerHolder{
            min-width: 750px;
        padding-left: 15px;
        padding-right: 15px;
        }
    }
 }
 