.containter{
    max-width: 1280px;
    height: 500px;
    margin: 0 auto  ;
    background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    h1{
        color: $white;
        font-family: "Prox";
        font-size: 60px;
        font-weight: lighter;
        text-align: center;
        padding-top: 75px;
    }
    h3{
        color: $white;
        text-align: center;
        font-size: 20px;
        padding-right: 283px;
        padding-left: 283px;
        font-family: "Gill";
    }
    .holder{
        width: 100%;
        text-align: center;
        padding-top: 35px;
        button{
            background-color: $site-blue;
            border: none;
            color: $white;
            padding: 8px;
            font-size: 23px;
            font-family: "Gill";
            font-weight: normal;
        }
    }
}