* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  clear: both;
  min-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#app {
  margin-bottom: 455px;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: PTbold;
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: PTbolditalix;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: PTItalic;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: PT;
  src: url(fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillBold;
  src: url(fonts/GillSans-Bold.ttf);
}
@font-face {
  font-family: GillLight;
  src: url(fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: GillLightItalic;
  src: url(fonts/GillSans-LightItalic.ttf);
}
nav {
  width: 100%;
  max-width: 980px;
  height: 60px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  width: 136px;
  height: 42px;
}
nav .links {
  width: 525px;
  height: 42px;
  align-self: center;
  display: flex;
  font-size: 15px;
  font-family: "Gill";
}
nav a {
  text-decoration: none;
  margin: auto;
}
nav span {
  text-decoration: none;
  color: #EE4367;
  margin: auto;
  font-size: 30px;
}

.homeInfo {
  display: none;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.homeInfo .header {
  margin-top: 65px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "PT";
}
.homeInfo .bodyText {
  font-size: 20px;
  width: 500px;
  text-align: center;
  font-family: "Gill";
  font-style: italic;
  color: white;
  margin: 45px auto 0 auto;
}
.homeInfo .lessImporant {
  font-size: 20px;
  font-family: "Gill";
  font-style: italic;
  text-align: center;
  color: #EE4367;
}
.homeInfo button {
  display: block;
  margin: 50px auto 0 auto;
  padding: 15px;
  background-color: #EE4367;
  font-family: "Gill";
  border: none;
  font-size: 15px;
  color: white;
}

.media {
  cursor: pointer;
}

.heroImage {
  padding-top: 20px;
  width: 100%;
  min-height: 500px;
  clear: both;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.75)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.whiteLogo {
  display: none;
}

.blackLogo {
  display: block;
}

.black {
  margin-top: 20px;
  border-bottom: black solid 2px;
}
.black a {
  color: black;
}

.white {
  border-bottom: white solid 2px;
}
.white a {
  color: white;
}

.quote {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.quote .textCenter {
  margin: 70px auto 70px auto;
  width: 750px;
  display: block;
}
.quote .textCenter .dialog {
  color: #FFD140;
  font-family: "Gill";
  font-size: 15px;
  line-height: 25px;
  font-style: "GillSemiBold";
}
.quote .textCenter .individuual {
  color: #EE4367;
  font-size: 15px;
  font-family: "PT";
  margin-bottom: 0px;
  line-height: 25px;
}
.quote .textCenter .info {
  font-size: 10px;
  font-family: "PT";
  color: #A8A8A8;
}

.upcomingEvents {
  background-color: #540D6E;
  padding-top: 40px;
}
.upcomingEvents .eventInfo {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}
.upcomingEvents .eventInfo .label {
  display: block;
  color: white;
  line-height: 25px;
  width: 375px;
  font-size: 25px;
  font-family: "Gill";
  white-space: white;
}
.upcomingEvents .eventInfo hr {
  width: 375px;
  background-color: white;
  height: 2px;
}
.upcomingEvents .eventInfo .calender {
  padding-top: 34.5px;
  display: flex;
  padding-bottom: 45px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.upcomingEvents .eventInfo .calender .event {
  display: flex;
}
.upcomingEvents .eventInfo .calender .event .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #EE4367;
}
.upcomingEvents .eventInfo .calender .event .date p {
  color: white;
  font-family: "GillBold";
  font-size: 22px;
  margin-bottom: 0px;
}
.upcomingEvents .eventInfo .calender .event .date :last-child {
  font-family: "GillLight";
  font-size: 12px;
}
.upcomingEvents .eventInfo .calender .event .contentEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  margin-left: 20px;
}
.upcomingEvents .eventInfo .calender .event .contentEvent p {
  color: white;
  font-family: "Gill";
  font-size: 15px;
}
.upcomingEvents .eventInfo .calender .event .contentEvent :last-child {
  font-family: "Gill";
  font-size: 13px;
  color: #EE4367;
}

.history {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.history .historyBackground {
  margin: 64px auto 50px auto;
  width: 100%;
  max-width: 980px;
  min-height: 380px;
  position: relative;
  display: block;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.75)), url(../images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.history .historyBackground .inText {
  position: absolute;
  font-family: "Gill";
  font-size: 25px;
  bottom: 0;
  left: 0;
  line-height: 19px;
  margin-bottom: 0px;
}
.history .historyBackground hr {
  position: absolute;
  left: 0;
  height: 4px;
  background-color: black;
  bottom: -20px;
  width: 225px;
}
.history .description {
  font-family: "GillLightItalic";
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 95px;
}

.gallery {
  width: 100%;
  max-width: 980px;
  margin: 64px auto 0 auto;
}
.gallery .head {
  font-size: 25px;
  font-family: "Gill";
  height: 25px;
}
.gallery hr {
  height: 3px;
  width: 250px;
  background-color: black;
}
.gallery .galleryClicable {
  width: 100%;
  margin: 30px auto 0 auto;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery .galleryClicable .click {
  cursor: pointer;
}
.gallery .galleryClicable .row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.gallery .galleryClicable .row1 #food {
  display: block;
  width: 489px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.75)), url(../images/gallery/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery .galleryClicable .row1 #dj {
  display: block;
  width: 265px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.75), rgba(238, 67, 103, 0.75)), url(../images/gallery/2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery .galleryClicable .row1 #speech {
  display: block;
  width: 187px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.75), rgba(8, 173, 105, 0.75)), url(../images/gallery/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery .galleryClicable .row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery .galleryClicable .row2 #fest {
  display: block;
  width: 603px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.75), rgba(84, 13, 110, 0.75)), url(../images/gallery/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery .galleryClicable .row2 #international {
  display: block;
  width: 355px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.75), rgba(59, 206, 171, 0.75)), url(../images/gallery/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallerySelected {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.gallerySelected .galInfo {
  margin: 64px auto 50px auto;
  width: 100%;
  max-width: 980px;
  min-height: 400px;
  position: relative;
  display: block;
}
.gallerySelected .galInfo .gal1text {
  color: #FFD140;
  position: absolute;
  bottom: -85px;
  font-family: "Gill";
  font-size: 140px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
}
.gallerySelected .galInfo .gal1text span {
  font-size: 300px;
}
.gallerySelected .galInfo .gal2text {
  color: #EE4367;
  position: absolute;
  bottom: -85px;
  font-family: "Gill";
  font-size: 140px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
}
.gallerySelected .galInfo .gal2text span {
  font-size: 300px;
}
.gallerySelected .galInfo .gal3text {
  color: #08AD69;
  position: absolute;
  bottom: -85px;
  font-family: "Gill";
  font-size: 140px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
}
.gallerySelected .galInfo .gal3text span {
  font-size: 300px;
}
.gallerySelected .galInfo .gal4text {
  color: #540D6E;
  position: absolute;
  bottom: -85px;
  font-family: "Gill";
  font-size: 115px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
}
.gallerySelected .galInfo .gal4text span {
  font-size: 300px;
}
.gallerySelected .galInfo .gal5text {
  color: #3BCEAB;
  position: absolute;
  bottom: -85px;
  font-family: "Gill";
  font-size: 115px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
}
.gallerySelected .galInfo .gal5text span {
  font-size: 300px;
}
.gallerySelected .gal1 {
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.75)), url(../images/gallery/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallerySelected .gal2 {
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.75), rgba(238, 67, 103, 0.75)), url(../images/gallery/2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallerySelected .gal3 {
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.75), rgba(8, 173, 105, 0.75)), url(../images/gallery/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallerySelected .gal4 {
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.75), rgba(84, 13, 110, 0.75)), url(../images/gallery/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallerySelected .gal5 {
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.75), rgba(59, 206, 171, 0.75)), url(../images/gallery/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallerySelected .galDesc {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}
.gallerySelected .galDesc p {
  width: 490px;
  font-family: "GillLightItalic";
  font-size: 16px;
}
.gallerySelected .galDesc :last-child {
  width: 450px;
}

.blogHome {
  width: 100%;
  max-width: 980px;
  margin: 64px auto 0 auto;
}
.blogHome .head {
  font-size: 25px;
  font-family: "Gill";
  height: 25px;
}
.blogHome hr {
  height: 3px;
  width: 250px;
  background-color: black;
}
.blogHome .calenderHolder {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.blogHome .calenderHolder .Down {
  display: flex;
  flex-direction: column;
}
.blogHome .calenderHolder .Down .post {
  display: flex;
  cursor: pointer;
}
.blogHome .calenderHolder .Down .post .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #EE4367;
}
.blogHome .calenderHolder .Down .post .date p {
  color: white;
  font-family: "GillBold";
  font-size: 22px;
  margin-bottom: 0px;
}
.blogHome .calenderHolder .Down .post .date :last-child {
  font-family: "GillLight";
  font-size: 12px;
}
.blogHome .calenderHolder .Down .post .contentPost {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-left: 20px;
}
.blogHome .calenderHolder .Down .post .contentPost .blogImage {
  display: block;
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blogHome .calenderHolder .Down .post .contentPost p {
  padding-top: 20px;
  color: black;
  font-family: "Gill";
  font-size: 15px;
}
.blogHome .calenderHolder .Down .post .contentPost :last-child {
  padding-top: 0px;
  font-family: "Gill";
  font-size: 13px;
  color: #EE4367;
  padding-bottom: 30px;
}

.blogPost {
  width: 100%;
  max-width: 980px;
  margin: 64px auto 0 auto;
}
.blogPost .blogHero {
  width: 100%;
  max-width: 980px;
  min-height: 300px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.75), rgba(238, 67, 103, 0.75)), url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogPost .blogHero .blogDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #EE4367;
}
.blogPost .blogHero .blogDate p {
  color: white;
  font-family: "GillBold";
  font-size: 55px;
  margin-bottom: 0px;
}
.blogPost .blogHero .blogDate :last-child {
  font-family: "GillLight";
  font-size: 20px;
}
.blogPost .blogText {
  width: 100%;
  max-width: 980px;
  padding-bottom: 150px;
}
.blogPost .blogText .head {
  font-size: 20px;
  font-family: "Gill";
  color: #EE4367;
  padding-top: 50px;
}
.blogPost .blogText .text {
  padding-top: 20px;
  font-family: "GillLight";
  font-size: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  min-height: 455px;
  background-color: #EE4367;
}
footer .footerHolder {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
footer .footerLogo {
  width: 136px;
  height: 42px;
  display: block;
  text-align: center;
  margin: 35px auto 45px auto;
}
footer .information {
  font-size: 16 px;
  text-align: center;
  font-family: "Gill";
  line-height: 10px;
  color: white;
}
footer .newspaperSub {
  width: 100%;
  max-width: 600px;
  margin: 45px auto 0 auto;
  text-align: center;
}
footer .newspaperSub input {
  height: 60px;
  padding: 15px;
  width: 75%;
  font-size: 17px;
  border: none;
  margin-right: none;
  background-color: #F56B88;
}
footer .newspaperSub ::placeholder {
  color: white;
  font-family: "Gill";
  font-size: 16px;
  opacity: 0.5;
}
footer .newspaperSub button {
  color: #EE4367;
  font-family: "Gill";
  height: 60px;
  float: right;
  width: 25%;
  padding: 15px;
  margin-left: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
footer .socialMedia {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 30px;
}
footer .socialMedia .center {
  margin-left: 31px;
  margin-right: 31px;
}
footer .copyright {
  opacity: 0.5;
  margin-top: 45px;
  font-size: 12px;
  text-align: center;
  font-family: "Gill";
  color: white;
}